  @import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
  @import "tailwindcss";

  /* * {
      scrollbar-width: none;
      -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
      display: none;
  } */

  html, body {
      /* overflow: hidden; */
      height: 100%;
      width: 100%;
  }

  #root {
      height: 100%;
      width: 100%;
      /* overflow: hidden; */
  }

  .bungee-regular {
      font-family: "Bungee", sans-serif;
      font-weight: 400;
      font-style: normal;
  }

  .viewer-btn {
  @apply flex items-center justify-center w-9 h-9 rounded-lg
  border border-white/10 bg-white/5 text-white/50
  transition-all duration-200 hover:bg-white/10
  hover:text-white hover:border-white/20 active:scale-95;
}